@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
.gradient{
  background: rgb(255,255,255);
  background: linear-gradient(159deg, rgba(255,255,255,1) 0%, rgba(59,130,246,1) 100%);
}
}

.section {
  display: flex;
  width: 100%;
  place-content: center;
  place-items: center;
  position: relative;
  min-height: 400px;
  color:white;
}

@media screen and (min-height: 100px) and (max-height: 600px) {
  .main_screen{

height: 180vh;

  }
}

@media screen and (min-height: 601px) and (max-height: 900px) {
  .main_screen{

height: 120vh;

  }
}

#s3 {
  background: linear-gradient(
    90deg,
    rgba(44, 69, 135, 1) 0%,
    rgba(76, 112, 199, 1) 35%,
    rgba(43,60,97,1) 100%
  );
  background-size: cover;
}




.no-pointer-events {
    pointer-events: none;
}

.bg-gray-100 {
    background-color: #DEE2EC;
}

/* Css for angebot component */

.product-box {
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(37,99,235, 0.9);
}

/* YourComponent.css */

.header-container {
  text-align: center;
  margin-bottom: 20px;
}


.creative-header-text {
  background: rgb(37,99, 235, 1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;

}

.text-theme {
  font-size: 40px;
  background: rgb(37,99, 235, 1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;

}
.category-ring {
  position: absolute;
  top: 2px;
  left: 10%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  background: #DC2626; /* Adjust gradient colors */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-text {
  color: #fff; /* Adjust text color */
  font-weight: bold;
  font-size: 10px;
}
section {
  height: auto; /* Change height to auto */
  min-height: 100vh; /* Set a minimum height to cover the full viewport */
  width: 100%;
  display: grid;
  place-items: center;
  overflow-y: auto; /* Add overflow-y: auto to make it scrollable */
  box-sizing: border-box; /* Include padding in the height calculation */
  padding: 1em; /* Add padding to the section */
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 2em; /* Adjust padding for larger screens */
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #fff;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #2563EB;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 1;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}


/* Demo purposes only */
.comments {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}


/* last newsletter box*/


.sbody , .box, .form-control , p , h , input  {
	box-sizing: border-box;
}

.sbody {
	background-color: #fff;
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.box {
	margin:30px;
	background-color: #2563EB;
  color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	text-align: center;
	max-width: 500px;
}

.box h2 {
	margin: 10px 0 0;
}

.box p {
	color: #fff;
	margin: 10px;
}

.form-control {
	position: relative;
	margin: 30px 0 20px;
}

.input {
  color: #000;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	display: block;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	width: 100%;
}

.btn {
	background-color: #312940;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	position: absolute;
	top: 0;
	right: 0;
}

.input:focus, .btn:focus {
	outline: 0;
}


.sticky {
    position: relative;
    top: 0;
    z-index: 1000; /* Adjust z-index as needed */
    /* Add other styling properties as needed */
}
